@keyframes ymaps3--controls-spinner-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.ymaps3--controls-spinner {
    position: relative;

    display: block;

    width: 16px;
    height: 16px;
    margin: 4px;

    animation-name: ymaps3--controls-spinner-spin;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.ymaps3--controls-spinner__circle {
    position: absolute;
    top: 0;
    left: 50%;

    overflow: hidden;

    width: 100%;
    height: 100%;

    color: #000;
}

.ymaps3--controls-spinner__dark {
    color: #fff;
}

.ymaps3--controls-spinner__circle::before {
    position: absolute;
    top: 0;
    left: -50%;

    width: 100%;
    height: 100%;

    content: '';

    border-radius: 100%;
    box-shadow: inset 0 0 0 2px;
}
