.image-overlay {
    border-radius: 10px;
    mask-image: linear-gradient(to right, transparent 20%, black 70%),
        linear-gradient(to bottom, transparent 0%, black 10%), linear-gradient(to top, transparent 0%, black 15%),
        linear-gradient(to left, transparent 0%, black 10%);
    -webkit-mask-image: linear-gradient(to right, transparent 20%, black 70%),
        linear-gradient(to bottom, transparent 0%, black 10%), linear-gradient(to top, transparent 0%, black 15%),
        linear-gradient(to left, transparent 0%, black 10%);
    mask-composite: intersect;
    -webkit-mask-composite: source-in;
}
