.ymaps3--rotate-tilt_rotate {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 56px;
    height: 56px;

    user-select: none;
}

.ymaps3--rotate-tilt_rotate__ring {
    position: absolute;

    box-sizing: border-box;
    width: 100%;
    height: 100%;

    cursor: pointer;
    pointer-events: all;

    border: 10px solid #fff;
    border-radius: 50%;
    box-shadow:
        inset 0 2px 6px 0 rgba(0, 0, 0, 0.2),
        0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.ymaps3--rotate-tilt_rotate__ring::before {
    position: absolute;

    width: 56px;
    height: 56px;

    content: '';

    border-radius: 50%;
    background: url('../assets/ymaps3-compass.svg?inline') center no-repeat;

    transform: translate(-10px, -10px); /* 10px as border width */
}

.ymaps3--rotate-tilt_rotate__ring:hover::before {
    background: url('../assets/ymaps3-compass_hover.svg?inline') center no-repeat;

    transition: background 0.4s;
}

.ymaps3--rotate-tilt_rotate__container {
    z-index: 1;
}
