.popup {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    padding-right: 20px;

    .header_title {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        color: #050d33;
    }
    .header_close {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border: none;
        background: none;
        color: #c8c9cc;
        cursor: pointer;
        background-image: url('./close.svg?inline');
        background-position: center;
        background-repeat: no-repeat;
    }
}

.description {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #7b7d85;
}

.action {
    width: max-content;
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
    background-color: #196dff;
    transition: background-color 0.1s ease-out;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    white-space: normal;

    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}

.action:hover {
    background-color: #4183ff;
}
