.ymaps3--suggest-control {
    display: flex;
    flex-direction: column;
    gap: 12px 0;

    padding: 12px 4px;
    border-radius: 12px;

    box-shadow:
        0px 4px 24px 0px rgba(95, 105, 131, 0.04),
        0px 4px 12px 0px rgba(95, 105, 131, 0.1);
    background-color: rgb(255, 255, 255);
}

.ymaps3--suggest-control._dark {
    background-color: #111;
}

.ymaps3--suggest-control._bottom {
    flex-direction: column-reverse;
}

.ymaps3--suggest-control._hide {
    display: none;
}

.ymaps3--suggest-item-control {
    cursor: pointer;

    display: flex;
    flex-direction: column;
    gap: 4px 0;

    padding: 6px 12px;
    box-sizing: border-box;
    border-radius: 6px;
}

.ymaps3--suggest-item-control._active {
    background-color: #5c5e660a;
}

.ymaps3--suggest-item-control._active._dark {
    background-color: #9c9fa90a;
}

.ymaps3--suggest-item-control__title {
    font-size: 16px;
    font-weight: 600;
}

.ymaps3--suggest-item-control__title._dark {
    color: #fff;
}

.ymaps3--suggest-item-control__subtitle {
    color: #6e7077;
}

.ymaps3--suggest-item-control__subtitle._dark {
    color: #868892;
}
