@keyframes ymaps3--default-marker-hint-hover {
    from {
        margin-left: -10px;
        opacity: 0;
    }
    to {
        margin-left: 0px;
        opacity: 1;
    }
}

.ymaps3--default-marker-point {
    position: absolute;
    cursor: pointer;
}
.ymaps3--default-marker-point svg {
    display: block;
}

.ymaps3--hint {
    box-sizing: border-box;
    position: absolute;
    max-width: 190px;
    padding: 4px 12px 4px 20px;
    flex-direction: column;
    align-items: center;
    border-radius: 1000px;
    background: rgba(255, 255, 255, 0.84);
    line-height: 16px;
    white-space: nowrap;
    z-index: -2;
}
.ymaps3--hint__stable {
    display: inline-flex;
}
.ymaps3--hint__hovered {
    display: none;
}
.ymaps3--default-marker-point:hover .ymaps3--hint__hovered {
    display: inline-flex;
    animation: ymaps3--default-marker-hint-hover 200ms ease-out;
}
.ymaps3--hint-title {
    display: block;
    width: 100%;
    color: #050d33;
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ymaps3--hint-subtitle {
    display: block;
    width: 100%;
    color: #7b7d85;
    font-size: 12px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* normal size */
.ymaps3--pin .ymaps3--default-marker__background {
    position: absolute;
    transform: translate(-50%, calc(-100% + 2px)); /* 2px - point radius */
    filter: drop-shadow(0px 2px 6px rgba(24, 27, 34, 0.4));
}
.ymaps3--pin .ymaps3--default-marker__stroke {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.ymaps3--pin .ymaps3--default-marker__icon {
    position: absolute;
    transform: translate(-50%, calc(-61px + 2px + 10px)); /* 61px - pin height, 2px - point radius, 10px - offset */
    z-index: 1;
}
.ymaps3--pin .ymaps3--hint {
    transform: translate(
        calc(46px / 2 - 12px),
        calc(-61px + 2px + 10px)
    ); /* 46px, 61px - pin width, height, 2px - point radius, -12px, 10px - offsets */
}
.ymaps3--pin .ymaps3--hint.ymaps3--hint__big {
    transform: translate(
        calc(46px / 2 - 12px),
        calc(-61px + 2px + 2px)
    ); /* 46px, 61px - pin width, height, 2px - point radius, -12px, 10px - offsets */
}

/* small size */
.ymaps3--small-poi .ymaps3--default-marker__background {
    position: absolute;
    transform: translate(-50%, -50%);
}
.ymaps3--small-poi .ymaps3--default-marker__stroke {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: -1;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}
.ymaps3--small-poi .ymaps3--default-marker__icon {
    position: absolute;
    z-index: 1;
    transform: translate(-50%, -50%);
}
.ymaps3--small-poi .ymaps3--default-marker__icon svg {
    transform: scale(calc(14 / 24));
}
.ymaps3--small-poi .ymaps3--hint {
    transform: translate(calc(24px / 2 - 12px), calc(-24px / 2)); /* 24px - poi size, -12px offset */
}
.ymaps3--small-poi .ymaps3--hint.ymaps3--hint__big {
    transform: translate(calc(24px / 2 - 12px), calc(-40px / 2)); /* 24px - poi size, -12px offset */
}

/* micro size */
.ymaps3--micro-poi .ymaps3--default-marker__background {
    position: absolute;
    transform: translate(-50%, -50%);
}
.ymaps3--micro-poi .ymaps3--default-marker__stroke {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: -1;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}
.ymaps3--micro-poi .ymaps3--hint {
    transform: translate(calc(14px / 2 - 8px), calc(-24px / 2));
}
.ymaps3--micro-poi .ymaps3--hint.ymaps3--hint__big {
    transform: translate(calc(14px / 2 - 8px), calc(-40px / 2));
}

/* dark theme */
.ymaps3--default-marker-point_dark .ymaps3--hint {
    background: rgba(29, 30, 31, 0.84);
}
.ymaps3--default-marker-point_dark .ymaps3--hint-title {
    color: #f2f5fa;
}
.ymaps3--default-marker-point_dark .ymaps3--hint-subtitle {
    color: #7b7d85;
}
