.ymaps3--route-control {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &.ymaps3--route-control_bottom {
        flex-direction: column-reverse;
    }

    svg {
        display: block;
    }
}

.ymaps3--route-control_parameters {
    box-sizing: border-box;
    display: flex;
    width: 330px;
    padding: 12px;
    flex-direction: column;
    gap: 12px;
    border-radius: 12px;
    background: #fff;
    box-shadow:
        0px 4px 12px 0px rgba(95, 105, 131, 0.1),
        0px 4px 24px 0px rgba(95, 105, 131, 0.04);

    svg {
        display: block;
    }
}
.ymaps3--route-control_info {
    box-sizing: border-box;
    display: flex;
    width: 330px;
    padding: 12px 16px;
    align-items: flex-start;
    gap: 20px;
    border-radius: 12px;
    border: 1px solid #eee;
    background: #fff;

    box-shadow:
        0px 4px 12px 0px rgba(95, 105, 131, 0.1),
        0px 4px 24px 0px rgba(95, 105, 131, 0.04);

    &.ymaps3--route-control_info__error {
        padding: 20px 16px;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }
}

.ymaps3--route-control_modes {
    width: 100%;
    padding: 4px;

    .ymaps3--route-control_modes__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        padding: 2px;
        border-radius: 8px;
        background: #f6f6f6;
    }

    input[type='radio'] {
        display: none;
    }
    label {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        padding: 6px;
        border-radius: 8px;
        cursor: pointer;
        color: #878787;
    }

    input[type='radio']:checked + label {
        background: #fff;
        box-shadow:
            0px 4px 12px 0px rgba(95, 105, 131, 0.1),
            0px 4px 24px 0px rgba(95, 105, 131, 0.04);
        color: #000000;
    }
}

.ymaps3--route-control_waypoints {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.ymaps3--route-control_actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        padding: 8px 0px;
        background: none;
        border: none;
        color: #196dff;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        cursor: pointer;

        &:hover {
            color: #2e4ce5;
        }

        &:disabled {
            color: #cccccc;
        }
    }
}

@keyframes ymaps3--spinner_rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.ymaps3--route-control_info_loading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #34374a;

    svg {
        position: relative;
        animation: ymaps3--spinner_rotate 1.5s linear infinite;
    }
}

.ymaps3--route-control_info_container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .ymaps3--route-control_info_container__label {
        color: #878787;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }

    .ymaps3--route-control_info_container__value {
        color: #000000;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
    }
}

.ymaps3--route-control_info_error__icon {
    display: flex;
    padding: 10px;
    gap: 10px;
    border-radius: 12px;
    background: #ffeceb;
}

.ymaps3--route-control_info_error__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.ymaps3--route-control_info_error__label {
    color: #000000;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.ymaps3--route-control_info_error__description {
    color: #878787;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.ymaps3--route-control_info_error__button {
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    background-color: #196dff;
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    cursor: pointer;

    &:hover {
        background-color: #2e4ce5;
    }
}

/* dark theme styles */
.ymaps3--route-control._dark {
    .ymaps3--route-control_parameters {
        background: #212326;
        box-shadow:
            0px 4px 12px 0px rgba(18, 20, 26, 0.22),
            0px 4px 24px 0px rgba(18, 20, 26, 0.14);
    }
    .ymaps3--route-control_modes {
        .ymaps3--route-control_modes__container {
            background: #111111;
        }

        input[type='radio']:checked + label {
            background: #212326;
            color: #cccccc;
        }
    }
    .ymaps3--route-control_actions button {
        color: #3d7eff;

        &:disabled {
            color: #666666;
        }
    }
    .ymaps3--route-control_info {
        border: 1px solid #393e46;
        background: #212326;
        box-shadow:
            0px 4px 12px 0px rgba(18, 20, 26, 0.22),
            0px 4px 24px 0px rgba(18, 20, 26, 0.14);

        .ymaps3--route-control_info_container__value {
            color: #cccccc;
        }
        .ymaps3--route-control_info_error__icon {
            background: #4f1f24;
        }
        .ymaps3--route-control_info_error__label {
            color: #cccccc;
        }
        .ymaps3--route-control_info_loading {
            color: #f2f5fa;
        }
    }
}
