name: Publish Package to npmjs

on:
  workflow_dispatch:
  push:
    tags: ["*"]

permissions:
  id-token: write
  contents: read

jobs:
  release:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6 #Setup Node
      with:
        node-version-file: '.nvmrc'
        cache: 'npm'
        registry-url: 'https://registry.npmjs.org'

    - name: Install dependencies
      run: |
        npm ci

    - name: Lint
      run: |
        npm run lint

    - name: Build
      run: |
        REFERRER=${{ secrets.REFERRER }} APIKEY=${{ secrets.APIKEY }} npm run build

    - name: Test
      run: |
        REFERRER=${{ secrets.REFERRER }} APIKEY=${{ secrets.APIKEY }} npm test

    - name: Publish
      run: |
        npm publish ./ --access public
