name: Run tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6 #Setup Node
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - name: Install dependencies
        run: |
          npm ci
      - name: Build
        run: |
          REFERRER=${{ secrets.REFERRER }} APIKEY=${{ secrets.APIKEY }} npm run build
      - name: Run Tests
        run: |
          REFERRER=${{ secrets.REFERRER }} APIKEY=${{ secrets.APIKEY }} npm test
