.ymaps3--search-control {
    display: flex;
    flex-direction: column;
    gap: 4px 0;

    width: 320px;
}

.ymaps3--search-control._bottom {
    flex-direction: column-reverse;
}

.ymaps3--search-control__form {
    position: relative;
}

.ymaps3--search-control__input {
    outline: none;
    border: none;
    box-sizing: border-box;

    width: 100%;
    height: 48px;

    padding-left: 16px;
    padding-right: 50px;

    font-size: 16px;

    border-radius: 12px;
    box-shadow:
        0px 2px 4px 0px rgba(95, 105, 131, 0.2),
        0px 0px 2px 0px rgba(95, 105, 131, 0.08);
}

.ymaps3--search-control__input:focus {
    box-shadow:
        0px 2px 12px 0px rgba(95, 105, 131, 0.2),
        0px 0px 6px 0px rgba(95, 105, 131, 0.08);
}

.ymaps3--search-control__input::placeholder {
    color: #7b7d85;
}

.ymaps3--search-control__input._dark {
    color: #ccc;
    background-color: #111;
}

.ymaps3--search-control__input._dark::placeholder {
    color: #92959f;
}

.ymaps3--search-control__clear {
    display: block;
    border: 0;
    outline: 0;

    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);

    cursor: pointer;

    width: 24px;
    height: 24px;

    background: url('./clear-black.svg?inline') center no-repeat;
}

.ymaps3--search-control__clear._hide {
    display: none;
}
